<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
</head>
<body>

    <h1>Smart Bin AI - Object Detection System</h1>
    

    <p class="subtitle">
        Live Waste Detection | Smart Classification | AI Monitoring
    </p>
    <div class="status-panel">
        <div class="analytics-panel">
            <div class="analytics-box">Objects Detected: Live</div>
            <div class="analytics-box" id="systemStatus">System Status: Monitoring</div>
        </div>
        <div class="button-panel">
            <button onclick="startDetection()">Start Detection</button>
            <button onclick="stopDetection()">Stop Detection</button>
        </div>
        <div class="status-box">Waste Monitoring: Active</div>
      <div class="status-box">Segregation: Enabled</div>
        
        
        <div class="camera-section">

    
            <div class="camera-container">
                <video id="videoFeed" autoplay playsinline></video>
                <canvas id="overlay"></canvas>
                <p id="statusMessage" style="display:none;">Detection Stopped</p>
            </div>
        

        
    </div>
    <footer>
        Built by Sarvagya shukla
    </footer>
    <script>
        const videoFeed = document.getElementById("videoFeed");
        navigator.mediaDevices.getUserMedia({ video: true })
    .then(function(stream) {
        videoFeed.srcObject = stream;
    })
    .catch(function(error) {
        alert("Camera access denied or not available.");
    });
        const statusMessage = document.getElementById("statusMessage");
        const cameraStatus = document.getElementById("cameraStatus");
        const systemStatus = document.getElementById("systemStatus");




        function startDetection() {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            videoFeed.srcObject = stream;
            videoFeed.style.display = "block";
            statusMessage.style.display = "none";
            cameraStatus.innerText = "Camera: Active";
            systemStatus.innerText = "System Status: Monitoring";
        });

}


function stopDetection() {
    let stream = videoFeed.srcObject;

    if (stream) {
        let tracks = stream.getTracks();
        tracks.forEach(track => track.stop());
    }

    videoFeed.srcObject = null;
    videoFeed.style.display = "none";
    statusMessage.style.display = "block";
    cameraStatus.innerText = "Camera: Inactive";
    systemStatus.innerText = "System Status: Offline";

}
    </script>

</body>
</html>